# Print dan String

In [1]:
print('hello')

hello

In [12]:
print('''hello \
irfan''')
print('hello\'')
print('hello,\'irfan\'')
print('irfan','2')
print('irfan'+'2')

hello irfan
hello'
hello,'irfan'
irfan 2
irfan2

In [11]:
print('2'+'2')
print(2+2)

22
4

# Cek tipe data

In [15]:
print(type(2))
print(type('2'))
print(type('irfan'))
print(type(2.0))
print(type(True))
print(type(None))

<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'NoneType'>

In [18]:
print(bool(False))
print(bool(0))
print(bool(''))
print(bool([]))
print(bool(True))
print(bool(1))
print(bool('irfan'))

False
False
False
False
True
True
True
False

# casting

In [20]:
print(type(str(2)))
print(type(int('2')))

<class 'str'>
<class 'int'>

#comment
koment itu untuk penjelas code kita dan bisa mengabaikan suatu code

In [23]:
#print(22)
print(22) #untuk mencetak angka 22

22

# Variable
variable adalah tempat untuk menyimpan data.
- camelcase
- snake_case
- pascalcase

In [24]:
#came1
myVariableName= 'joko'

#snake
my_variable_name= 'joko'

#pascal
MyVariableName= 'joko'

In [27]:
var1= 'joko'
print(var1)

print(var1)
var1= 'irfan'
print(var1)
var1= 'irwan'
print(var1)

joko
joko
irfan
irwan

In [31]:
name= 'irfan'
umur= 22
print(name,umur)

irfan 22

In [34]:
x,y,z= 22
print(x)
print(y)

TypeError: cannot unpack non-iterable int object

In [35]:
x=y=z= 22
print(x)
print(y)

22
22

In [38]:
x,y,z= 'irfan', 22, 'joko'
print(x,y,z)

irfan 22 joko

# Numeric

In [48]:
x= 2
y= 3
z= str(2)
k= round(2.5)
j= int(2.5)
i= float(2.5)
w= float(2.0)
print(k)
print(j)
print(i)
print(w)

2
2
2.5
2.0

In [49]:
print(x+j)

4

In [47]:
x= round(5.67895634, 2) # 2 di belakang koma
print(x)

5.68

# Slicing

In [56]:
nama= 'ulul azmi'
print(nama[2])
print(nama[2:])
print(nama[:2])
print(nama[-2])
print(nama[-2:])
print(len(nama)) #jumlah Karakter

u
ul azmi
ul
m
mi
9

In [58]:
print(nama.upper())
print(nama.lower())
print(nama.replace('u','U'))
print(nama.split(' '))

ULUL AZMI
ulul azmi
UlUl azmi
['ulul', 'azmi']

# Format string

In [59]:
umur= 22
txt= 'umur saya ' + str(umur) + ' tahun'
txt_1= 'umur saya {} tahun'
print(txt)
print(txt_1.format(umur))

umur saya 22 tahun
umur saya 22 tahun

In [62]:
nama= 'ulul azmi'
umur= 28
batch= 15
text_1= 'halo nama saya {}, umur saya {} tahun, batch {}'
print(text_1.format(nama,umur,batch))
text_1= 'halo nama saya {1}, umur saya {0} tahun, batch {2}'
print(text_1.format(umur,nama,batch))

halo nama saya ulul azmi, umur saya 28 tahun, batch 15
halo nama saya ulul azmi, umur saya 28 tahun, batch 15

In [67]:
print(f'hello, nama saya {nama}, umur saya {umur},batch {batch}')

hello, nama saya ulul azmi, umur saya 28,batch 15

# Escape Characters

In [70]:
txt= 'hallo, nama saya \'irfan\''
print(txt)

txt2= 'hello \nnama saya \'irfan\''
print(txt2)

hallo, nama saya 'irfan'
hello
nama saya 'irfan'

In [72]:
print('hello \bworld!')
print('hello\tworld!')
print('2 \
    2')

helloworld!
hello	world!
2     2

# List

In [77]:
list1= ['mother', 'father', 'brother', 'sister']
list2= ['2',2, True]
print(list1)
print(list2)
print(type(list2))

['mother', 'father', 'brother', 'sister']
['2', 2, True]
<class 'list'>

In [78]:
print(list1[1])
print(list1[:-1])

father
['mother', 'father', 'brother']

In [79]:
#jika ingin merubah urutan list
list1[1]='Ayah'
print(list1)

['mother', 'Ayah', 'brother', 'sister']

In [80]:
#jika ingin menambahkan ditengah list
list1.insert(1,'ibu')
print(list1)

['mother', 'ibu', 'Ayah', 'brother', 'sister']

In [81]:
#jika ingin menambahkan dibagian akhir list
list1.append('cucu')
print(list1)

['mother', 'ibu', 'Ayah', 'brother', 'sister', 'cucu']

In [84]:
list1= ['motor', 'mobil']
list2= ['pesawat', 'becak']
list1.extend(list2)
print(list1)

['motor', 'mobil', 'pesawat', 'becak']

# Tuple

In [86]:
#sama seperti list, tapi tidak bisa merubah data
mytuple= ('motor', 'mobil', 'becak', 'pesawat')
print(mytuple)
print(mytuple[1])

('motor', 'mobil', 'becak', 'pesawat')
mobil

In [87]:
#cara agar mytuple bisa di ubah datanya, harus merubahnya menjadi list
mytuple_cadangan= list(mytuple)
mytuple_cadangan[1]= 'car'
mytuple= tuple(mytuple_cadangan)
print(mytuple_cadangan)
print(mytuple)

['motor', 'car', 'becak', 'pesawat']
('motor', 'car', 'becak', 'pesawat')

# Car

In [88]:
#list yang datanya acak
myset= {'motor', 'mobil', 'becak', 'pesawat'}
print(myset)

{'pesawat', 'motor', 'mobil', 'becak'}

In [89]:
#jika ingin menambahkan data di myset
myset.add('kapal')
print(myset)

{'pesawat', 'becak', 'motor', 'kapal', 'mobil'}

In [91]:
#jika ingi menggabungkan 2 set dengan membuat variabel baru
set1= {'motor', 'mobil', 'becak', 'pesawat'}
set2= {'bmw', 'honda'}
set3= set1.union(set2)
print(set3)

#bisa juga menggunakan update, tidak perlu membuat variabel baru
set1.update(set2)
print(set1)

{'motor', 'honda', 'bmw', 'pesawat', 'mobil', 'becak'}
{'motor', 'honda', 'bmw', 'pesawat', 'mobil', 'becak'}

# Dictionary

In [92]:
dict_1= {'nama':'ulul',
        'umur':22}
print(dict_1)

{'nama': 'ulul', 'umur': 22}

In [96]:
print(dict_1['nama'])
print(dict_1.get('nama'))
print(dict_1.keys())
print(dict_1.values())
print(dict_1.items())

ulul
ulul
dict_keys(['nama', 'umur'])
dict_values(['ulul', 22])
dict_items([('nama', 'ulul'), ('umur', 22)])

In [101]:
dict_2= {1: {'nama': 'irfan', 'age': 25},
        2: {'nama': 'ulul', 'age': 22}}
print(dict_2[1]['nama'])

irfan

# latihan

In [111]:
thislist= ['foo', 'bar', 'baz', 'qux']
print(thislist[2:3])
print(thislist[:3])
print(thislist[3:])
print(thislist[-3:-1])

['baz']
['foo', 'bar', 'baz']
['qux']
['bar', 'baz']

In [113]:
thislist= ['foo', 'bar', 'baz', 'quz', 'nex']
thislist[1:2]= ["jojo", "baba"]
print(thislist)

['foo', 'jojo', 'baba', 'baz', 'quz', 'nex']

In [115]:
thislist= ['foo', 'bar', 'baz', 'quz', 'nex']
thislist.pop(2)
print(thislist)

['foo', 'bar', 'quz', 'nex']

In [121]:
x= 11
y= 2
print(x%y)
print(x/y)
print(x//y)
print(x*y)
print(x**y)

1
5.5
5
22
121