In [1]:
a= 20
a== 20

True

# Conditional IF

In [2]:
angka= 10
if angka > 10:
    print(f'{angka} di atas 10')
elif angka < 10:
    print(f'{angka} di bawah 10')
else:
    print(f'{angka} adalah 10')

#jika lebih dari 3 kondisi tambahkan elif
#hanya ada 1 if dan 1 else saja dalam setiap kondisi

10 adalah 10

# mengecek bilangan genap/ganjil dengan IF

In [3]:
angka = 20
if(angka % 2 == 0):
    print(f'{angka} adalah bilang genap')
else:
    print(f'{angka} adalah bilang ganjil')

20 adalah bilang genap

In [13]:
#LATIHAN
nilai = 90
if nilai >= 80:
    print('Grade A')
elif nilai >= 70:
    print('Grade B')
elif nilai >= 60:
    print('Grade C')
elif nilai >= 40:
    print('Grade D')
else:
    print('Grade E')

Grade A

In [20]:
#nested if
nilai = 100
if 0 <= nilai <= 100:
    if nilai >= 80:
        print('Grade A')
    elif nilai >= 70:
        print('Grade B')
    elif nilai >= 60:
        print('Grade C')
    elif nilai >= 40:
        print('Grade D')
    else:
        print('Grade E')
else:
    print('inputkan nilai yang benar')

Grade A

In [21]:
a= 210
b= 30
if a > b:
    print(a)
else:
    print(b)

210

In [22]:
a= 30
b= 30
if a>b:
    print(a)
elif a==b:
    print('=')
else:
    print(b)

=

In [23]:
a= 200
b= 33
c= 100
if b<a>c:
    print(a)
else:
    print(c)

200

# Looping

In [31]:
#while loop
i = 0
while i <5:
    print(i)
    i = i + 1

0
1
2
3
4

In [34]:
#tabel perkalian menggunakan while loop

i = 5
while i <= 10:
    print(f'5 x {i} = {5*i}')
    i = i + 1

5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [1]:
# nestel while
i = 1
j = 1
while i <= 10:
    while j <= 10:
        print(f'{i} x {j} = {i*j}')
        j = j + 1
    print('-'*10)
    i+=1
    j = 1

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
----------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
----------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
----------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
----------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
----------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
----------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
----------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
----------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
----------
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
----------

In [4]:
#for loop
cities = ['tokyo', 'jakarta', 'surabaya', 'bandung']
for i in cities:
    print(i)

tokyo
jakarta
surabaya
bandung

In [5]:
i = 0
while i < len(cities):
    print(cities[i])
    i+=1

tokyo
jakarta
surabaya
bandung

In [7]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
#fot .. in range ..

for i in range(1,11):
    print(f'5 x {i} = {5*i}')
print('-'*10)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
----------

In [16]:
#nestep for
for i in range(1,11):
    for j in range(1,11):
        print(f'{i} x {j} = {i*j}')
    print('-'*10)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
----------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
----------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
----------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
----------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
----------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
----------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
----------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
----------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
----------
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
----------

# Flow Control statement
- Continue
- Break
- Pass

In [18]:
#continue (melewatkan angka yang di tentukan)
for i in range(0,11):
    if (i in [2,5,7]):
        continue
    print(i)

0
1
3
4
6
8
9
10

In [19]:
#break (akan berhenti jika menemukan data yg di tentukan)
for i in range(0,11):
    if (i in [2,5,7]):
        break
    print(i)

0
1

In [22]:
#pass (melewatkan jika ada error pada kondisi tertentu)
nilai = -1
if 0 <= nilai <= 100:
    if nilai >= 80:
        print('Grade A')
    elif nilai >= 70:
        print('Grade B')
    elif nilai >= 60:
        print('Grade C')
    elif nilai >= 40:
        print('Grade D')
    else:
        print('Grade E')
pass